body {
  margin: 0;
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  background-color: #0B192C;
  color: #FFFFFF;
  line-height: 1.6;
}

p {
  font-size: 1.2rem;
}

.cream {
  color: antiquewhite;
}

header {
  background-color: #d85700;
  color: #000000;
  padding: 2rem;
  text-align: center;
  border-bottom: 5px solid #632800;
}

header h1 {
  margin: 0;
}

.summary {
  padding: 2rem;
  background-color: #1E3E62;
}

.summary h3{
  color: #000000;
}

.summary-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.summary-grid div {
  flex: 1;
  background-color: #d85700;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  border: 5px solid #632800;
}

.holdings {
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #1E3E62;
  border-radius: 8px;
  overflow: hidden;
  color: #FFFFFF;
}

.sub {
font-size: 0.8rem;
}

.stock_name {
  font-size: 1.2rem;
}

th, td {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #0B192C;
}

th {
  background-color: #d85700;
  color: #000000;
  
}

tr:hover {
  background-color: #0B192C;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #0B192C;
  color: #FFFFFF;
  font-size: 0.9rem;
}

.charts {
  padding: 2rem;
  background-color: #1E3E62;
  margin-top: 2rem;
}

canvas {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
  background-color: #FFFFFF;
}